.contenedor {
  width: 90%;
  padding: 0px 5%;
}

.banner{
  margin-top: 20px;
  display: table;
  width: 100%;
  margin: 0 auto;
}

div.banner h1{
  display: table-cell;
  vertical-align: middle;
}

div.banner div{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
